#document-body {
    width: 210mm;
    min-height: 297mm;
    margin: 10mm auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20mm;
    box-sizing: border-box;
  }

  #document-body-print {
      width: auto;
      height: auto;
      margin: 0;
      box-shadow: none;
      padding: 0;
      page-break-after: avoid;
      page-break-before: avoid;
    }

  .circle-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* More styles here */
  }

  .words {
    color: red;
    font-size: 20px;
  }

  #download-pdf {
    display: block;
    margin-top: 20px;
  }

  .no-print {
      display: none;
    }


  .number-one {
    background-color: red;
  }

  @media print {
    /* Adjust styles for print here */
    body {
      width: auto;
      height: auto;
      margin: 0;
      box-shadow: none;
      padding: 0;
      page-break-after: avoid;
      page-break-before: avoid;
    }

    .circle-container {
    }

    .words {
    }

  }